@page "/login"
@layout HedlessLayout
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Dima - Login</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center">
                <img src="imgs/dima.png" alt="" width="200" />
            </div>
            <MudForm @ref="_mudForm">
                <MudTextField T="string" Label="E-mail" InputType="InputType.Email" Required="true"/>
                <MudTextField T="string" Label="Password" InputType="InputType.Password" Required="true"/>
            </MudForm>

            <div class="d-flex mt-8">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                <MudSpacer></MudSpacer>
                <MudButton>Register</MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    MudForm? _mudForm;
}