@page "/register"
@layout HedlessLayout
@using Microsoft.AspNetCore.Components.Web
@inherits RegisterPage

<PageTitle>Dima - Register</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center">
                <img src="imgs/dima.png" alt="" width="200" />
            </div>
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator/>
                @* <ValidationSummary/> *@
                <MudTextField
                    T="string"
                    Label="E-mail"
                    InputType="InputType.Email"
                    For="@(() => InputModel.Email)"
                    @bind-Value="InputModel.Email"/>
                <MudTextField
                    T="string"
                    Label="Password"
                    InputType="InputType.Password"
                    For="@(() => InputModel.Password)"
                    @bind-Value="InputModel.Password" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                        <MudSpacer></MudSpacer>
                        <MudButton>Register</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>